/*INDEX*/
/* GENERAL */
body{
	background-color: #26282C;
	color: #E6E6E6;
	position: relative;
}
.parallax-section {
  background-attachment: fixed !important;
  background-size: cover !important;
}

.about, .portfolio, .contact{
	padding-top: 100px;
	padding-bottom: 100px;
}

/*NAVBAR*/
.menu{
	background-color: #1F89CA;
	border-color: #1F89CA;
	padding: 16px;
}
.menu img{
	display: inline;
}
.menu p{
	display: inline;
	margin-left: 10px;
	font-weight: 900;
	font-size: 24px;
}
.menu .navbar-brand{
	padding: 0 0 0 15px;
}
.menu a{
	color: #E6E6E6!important;
}
/*SLIDER*/
.slider .custom-caption{
	top: 100px;
}

.slider .custom-caption2{
	top: 350px;
	left: 25%;
	right: 30%;
}

.slider .slider-control{
	background-image: linear-gradient(to right,rgba(0,0,0,.0) 0,rgba(0,0,0,.0001) 100%);
}
.slider .btn-info:focus{
	border-color: #31b0d5;
}
/*ABOUT*/
.about .about-title{
	border-bottom: #1F89CA solid 3px;
	margin-bottom: 20px;
}
.about .sub-title{
	color: #5DC1DE;
}

.about-content p{
	line-height: 28px;
	font-size: 17px;
}

.about .panel{
	border-radius: 0;
	background-color: #161616;
	border: 0px;
}
.about .panel-heading{
	background: transparent;
	text-transform: uppercase;
	padding: 0;
}

.about .panel-title {
    color: #FFF;
}

.about .panel-title a{
	text-decoration: none;
	display: block;
	padding: 10px 15px;
}

.about .panel-body p {
    color: #CCC;
    font-size: 17px;
}

.about .skill-title{
	text-align: center;
	color: #5DC1DE;
}
.about .circle-bar{
	padding-left: 22.5px;
}
/*PORTFOLIO*/
.portfolio {
  background: url('../images/bg-portfolio.jpeg') 50% 0 repeat-y fixed;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
  color: #ffffff;
}
.content-portfolio .portfolio-title{
	position: absolute;
	top: 0;
	margin-right: 15px;
}
.portfolio-title h3{
	margin: 10px;
	color: #000000;
	font-weight: bold;
}

.portfolio-title p{
	margin: 10px;
	color: #000000;
}

.content-portfolio .portfolio-title{
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease-out;
	transform: translate3d(0,100%,0);
}

.content-portfolio:hover .portfolio-title{
	visibility: visible;
	opacity: 1;
	transform: translate3d(0,0,0);
	transition: transform 0.35s;
	background-color: rgba(250,250,250,0.6);
}
/* CONTACT */
.contact h2{
	text-align: center;
}
.contact .form-control{
	border-radius: 0;
	margin-bottom: 31px;
	padding: 5px;
}
.contact{
	border-bottom: #1F89CA solid 3px;
	margin-bottom: 20px;
}
/* FOOTER */
footer{
	padding-top: 20px;
	padding-bottom: 15px;
	text-align: center;
	background-color: #1F89CA;
}
/* BLOG */
/* ARTICLE */
article{
	margin-top: 150px;
	margin-bottom: 50px;
}
.article-item h2{
	font-size: 16px;
	font-weight: bold;
}
.article-item h2 a{
	text-decoration: none;
	color: #000000;
}
.article-item .date{
	font-size: 10px;
	color: #999;
}
.article-item p{
	font-size: 13px;
	color: #000000;
}
/*SIDE BAR*/
.side-bar h4{
	color: #333;
}

.side-bar .date{
	color: #333;
	display: block;
	font-size: 10px;
}
.side-bar ul{
	list-style: none;
}
.side-bar li{
	padding-bottom: 15px;
}
.side-bar li a{
	text-decoration: none;
}